.wrapper{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px,auto);
    grid-gap: 2em;

}
.wrapper :nth-child(even){
    background-color: rgb(117, 255, 255);
}
.wrapper :nth-child(odd){
    background-color: rgb(53, 204, 204);

}
.box-1{
    grid-column: 1/3;
    grid-row: 1/3;
}
.box-4{
    grid-column: 1;
    grid-row: 2/4;
}
a{
    color: violet;
    text-decoration: none;
}